.main-nav-container {
    display: flex;
    flex-flow: column;
    height: 100%;

    .header {
      z-index: 1000;

      .toolbar {
        position: fixed;
        top: 0;

        a {
          text-decoration: none;
          color: inherit;

          .logo-header {
            margin-left: 5px;
          }
        }

        .toolbar-spacer {
          flex: 1 1 auto;
        }

        .toggle-nav-button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%)
        }
      }
    }

    .content-container {
      margin-top: 64px;
      flex-grow: 1;
      display: flex;
      flex-flow: column;
      overflow-y: auto;
      position: relative;
      background-color: var(--color-content-bg);
      z-index: 700;

      .main-content {
        flex-grow: 1;
        padding: 1em;

        &.desktop-main-content {
          margin-left: 300px;
        }
      }

      .footer {
        z-index: 900;
        width: calc(100% + 300px);
      }
    }
  }

  :host ::ng-deep {
    .mat-list-base {
      padding: 0;

      .mat-list-item {
        border-bottom: 1px dotted var(--color-accent);

        &:hover {
          background-color: var(--color-accent);
        }
      }
    }

    .desktop-navigation {
      position: fixed;
      top: 64px;
      left: 0;
      width: 300px;

      height: 100%;
      overflow-y: auto;
      z-index: 800;

      .mat-list-base {
        .mat-list-item {
          .mat-list-item-content {
            justify-content: left;
          }
        }
      }
    }

    .mobile-navigation {
      -webkit-box-shadow: -1px 3px 11px -5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -1px 3px 11px -5px rgba(0, 0, 0, 0.75);
      box-shadow: -1px 3px 11px -5px rgba(0, 0, 0, 0.75);
      z-index: 800;
      overflow: hidden;

      .mat-list-base {
        .mat-list-item {
          .mat-list-item-content {
            justify-content: center;
          }
        }
      }

      &.hidden {
        height: 0;
        opacity: 0;
      }
    }

    .desktop-navigation, .mobile-navigation {
      background-color: var(--color-nav-bg);
    }
  }

  :host ::ng-deep {
    .header {
      .mat-toolbar-row, .mat-toolbar-single-row {
        height: 64px;
      }
    }

    .footer {
      .mat-toolbar-row, .mat-toolbar-single-row {
        height: 74px;
      }
    }
  }
