.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
}

@media (max-width: 600px) {
  .login-container {
    width: 300px;
  }
}

.mat-card-actions {
  margin: 0 0 2em;
}
