html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: var(--color-text);
}

.error-color, .required {
    color: #d9534f;
}

  .success-color {
    color: #5cb85c;
  }
