html,body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-text);
    background-color: var(--color-content-bg);
}

.program-dialog {
  min-width: 640px;
  min-height: 80vh;
}

.member-save-dialog {
  min-width: 720px;
}

.group-save-dialog {
  min-width: 480px;
}

@media (max-width: 640px) {
  .program-dialog, .member-save-dialog, .group-save-dialog {
    min-width: 80vw;
  }
}

.error-color, .required {
    color: #d9534f;
}

.success-color {
  color: #5cb85c;
}

@media print {
  body {
    font-size: 1rem !important;
  }
  .no-print {
    display: none !important;
  }

  .content-container {
    margin-top: 0 !important;
  }

  table,th,td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
