@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo, 700, 400, 900);
$app-accent: mat-palette($mat-blue, 100);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn
  )
));

@include angular-material-theme($app-theme);

$app-dark-primary: mat-palette($mat-gray, 900);
$app-dark-accent: mat-palette($mat-deep-orange, 900);
$app-dark-warn: mat-palette($mat-red);

$app-dark-theme: mat-dark-theme((
  color: (
    primary: $app-dark-primary,
    accent: $app-dark-accent,
    warn: $app-dark-warn,
  )
));

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 400)
);

@include angular-material-typography($custom-typography);

.dark-mode {
  @include angular-material-color($app-dark-theme);
}

:root {
  --color-primary: #{mat-color($app-primary)};
  --color-accent: #{mat-color($app-accent)};
  --color-warn: #{mat-color($app-warn)};
  --color-nav-bg: #ffffff;
  --color-content-bg: #ffffff;
  --color-text: #000000;
}

:root .dark-mode {
  --color-primary: #{mat-color($app-dark-primary)};
  --color-accent: #{mat-color($app-dark-accent)};
  --color-warn: #{mat-color($app-dark-warn)};
  --color-nav-bg: #424242;
  --color-content-bg: #616161;
  --color-text: #ffffff;
}