#staff-container {
  mat-spinner {
    left: 50%;
    transform: translateX(-50%);
  }
}

mat-table {
  width: 100%;
  min-width: 1140px;

  .mat-column-week {
    min-width: 200px;
  }

  .mat-column-cleaning {
    min-width: 140px;
    color: forestgreen;
    font-weight: bolder;
  }

  .mat-cell, .mat-header-cell {
    height: 60px;
    font-size: 0.65rem;
  }

  mat-form-field {
    width: 100px;
    font-size: 0.75rem;
    padding: 4px;
  }

  .mat-row:nth-child(odd){
    background-color: var(--color-accent);
  }
}
