mat-table {
  width: 100%;
  min-width: 1000px;

  .mat-column-week {
    min-width: 200px;
  }

  .mat-column-cleaning {
    min-width: 140px;
    color: forestgreen;
    font-weight: bolder;
  }

  .mat-cell, .mat-header-cell {
    height: 60px;
    font-size: 0.75rem;
  }

  mat-form-field{
    width: 100px;
    font-size: 0.75rem;
  }

  .mat-row:nth-child(odd){
    background-color: var(--color-accent);
  }

  mat-form-field:has(mat-select.mat-select-empty) {
    border: 1px solid red;
  }
}
