.month-picker-container {
  width: 100%;
  //border: 1px solid red;

  .month-picker {
    .mat-calendar-period-button {
      pointer-events: none;

      .mat-calendar-arrow {
        display: none;
      }
    }
  }
}
